* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #E7F6FF;
}

.wrapper {
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

header {
  border-bottom: 1px solid #EAEAEA;
  
  img {
	margin-right: 15px;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  position: relative;
  border: 1px solid #F3F3F3;
  border-radius: 40px;
  width: 220px;
  padding: 20px;
  transition: all .3s;
  
  &:hover {
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.06);
	transform: translateY(-5px);
  }
  
  .favorite {
	position: absolute;
	top: 30px;
	left: 30px;
	cursor: pointer;
	height: 32px;
	margin-right: auto;
  }
  
  img {
	width: 100%;
	margin: 0 auto 15px;
  }
  
  h5 {
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 15px;
  }
  
  span {
	font-size: 13px;
	opacity: 0.5;
	text-transform: uppercase;
  }
  
  b {
	font-size: 14px;
  }
  
  button img {
	width: 100%;
	height: 100%;
	margin: 0;
  }
}

.button {
  background: #FFFFFF;
  border: 2px solid #F3F3F3;
  box-sizing: border-box;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.searchBlock {
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  padding: 0 15px;
  
  input {
	font-size: 16px;
	border: 0;
	padding: 10px;
	width: 200px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  height: 100%;
  width: 385px;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  
  .items {
	flex: 1;
	overflow: auto;
	margin-bottom: 50px;
  }
}


.cartTotalBlock {
  ul {
	li {
	  display: flex;
	  align-items: flex-end;
	  margin-bottom: 25px;
	  
	  div {
		flex: 1;
		height: 1px;
		border-bottom: 1px dashed #DFDFDF;
		position: relative;
		top: -4px;
		margin: 0 7px;
	  }
	}
  }
  
  .greenButton {
	position: relative;
	
	&:hover {
	  img {
		transform: translateX(10px);
	  }
	}
	
	img {
	  position: absolute;
	  top: 20px;
	  right: 30px;
	  transition: all .3s;
	}
  }
}

.greenButton {
  width: 100%;
  height: 55px;
  background: #9DD558;
  border: 0;
  border-radius: 18px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all .3s;
  
  &:hover {
	background: lighten(#9DD558, 5%);
  }
  
  &:active {
	background: darken(#9DD558, 5%);
  }
}

.cartItem {
  border: 1px solid #F3F3F3;
  border-radius: 20px;
  overflow: hidden;
  padding: 5px;
  
  p {
	font-size: 16px;
  }
  
  b {
	font-size: 14px;
  }
  
  .removeBtn {
	opacity: 0.5;
	transition: all .3s;
	cursor: pointer;
	
	&:hover {
	  opacity: 1;
	}
  }
}

